@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  /* background-color: #1C2833 !important; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
